<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>What's all the FaaS about?</title>
        <style>
            body
                {
                text-align:center;
                }
        </style>
    </head>
    <body>
        {{context}}
        <h1>The Strange Triumph of “The Little Prince”</h1>
        <p>beautiful parable, it bewildered and puzzled its readers. Among the early reviewers, only P. L. Travers—who had, with a symmetry that makes the nonbeliever shiver, written an equivalent myth for England in her Mary Poppins books—really grasped the book’s dimensions, or its importance. Over time, the suffrage of readers has altered that conclusion, of course: a classic is a classic. But it has altered the conclusion without really changing the point. This year marks an efflorescence of attention, including a full-scale exhibition of Saint-Exupéry’s original artwork at the Morgan Library & Museum, in New York. But we are no closer to penetrating the central riddle: What is “The Little Prince” about? Everyone knows the basic bones of the story: an aviator, downed in the desert and facing long odds of survival, encounters a strange young person, neither man nor really boy, who, it emerges over time, has travelled from his solitary home on a distant asteroid, where he lives alone with a single rose. The rose has made him so miserable that, in torment, he has taken advantage of a flock of birds to convey him to other planets. He is instructed by a wise if cautious fox, and by a sinister angel of death, the snake. It took many years—and many readings—for this reader to begin to understand that the book is a war story. Not an allegory of war, rather, a fable of it, in which the central emotions of conflict—isolation, fear, and uncertainty—are alleviated only by intimate speech and love. But the “Petit Prince” is a war story in a very literal sense, too—everything about its making has to do not just with the onset of war but with the “strange defeat” of France, with the experience of Vichy and the Occupation. Saint-Exupéry’s sense of shame and confusion at the devastation led him to make a fable of abstract ideas set against specific loves. In this enterprise, he sang in unconscious harmony with the other great poets of the war’s loss, from J. D. Salinger—whose great post-war story, “For Esmé—with Love and Squalor” shows us moral breakdown eased only by the speech of a lucid child—to his contemporary Albert Camus, who also took from the war the need to engage in a perpetual battle “between each man’s happiness and the illness of abstraction,” meaning the act of distancing real emotion from normal life.
        </p>
        <p>From newyorker edited by howard</p>
        <p>https://www.newyorker.com/books/page-turner/the-strange-triumph-of-the-little-prince</p>
    </body>
</html